<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cybersinc.usbstream" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CyberSinc USB Stream</name>
    <description>Ultra-low latency game mirroring transmitter over USB.</description>
    <author email="dev@example.com" href="http://example.com">Mirroring Team</author>
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <preference name="KeepRunning" value="true" />
        
        <!-- Permissions -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
            <uses-permission android:name="android.permission.USB_PERMISSION" />
        </config-file>

        <!-- USB Accessory Intent Filter -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" android:resource="@xml/usb_accessory_filter" />
        </config-file>

        <!-- Resource file mapping for USB Filter -->
        <resource-file src="res/xml/usb_accessory_filter.xml" target="app/src/main/res/xml/usb_accessory_filter.xml" />
    </platform>
</widget>
